<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    
    <h3><%= listing.title %></h3>
    
    <div class="card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          <!-- <b><%= listing.title %></b> <br> -->
          <%= listing.description %> <br>
            &#2547; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> <br>
          <%= listing.location %> <br>
          <%= listing.country %>
        </p>
      </div>
    </div>

   <div class="d-flex mb-3">
  <!-- Edit Button -->
  <a 
    href="/listings/<%= listing._id %>/edit" 
    class="btn btn-dark me-2"
  >Edit</a>

  <!-- Delete Button -->
  <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
    <button class="btn btn-danger">Delete</button>
  </form>
</div>


  </div>
</div>